body { background-color: rgb(240, 240, 242); margin: 0px; padding: 0px; font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
div { width: 600px; margin: 5em auto; padding: 2em; background-color: rgb(253, 253, 255); border-radius: 0.5em; box-shadow: rgba(0, 0, 0, 0.02) 2px 3px 7px 2px; }
a:link, a:visited { color: rgb(56, 72, 143); text-decoration: none; }
@media (max-width: 700px) {
  div { margin: 0px auto; width: auto; }
}